:root {
  --primary: #365256;
  --secondary: #B05243;
  --secondary-dark: #99473A;
  --bg: #c0cbcc;
  --bg-1: #fff;
  --bg-2: #dee4e4;
  --bg-3: #c0cbcc;
  --text-light: #07272b;
  --text-medium: #5c6465;
  --text-dark: #eee;
  --shadow-medium: #0002;
  --shadow-strong: #0003;

  --highlight: var(--secondary);
  --sidebar-bg: var(--bg-2);
  --editor-bg: var(--bg-1);
  --input: var(--bg-2);
  --input-focus: var(--bg-1);
  --btn-secondary: var(--secondary);
  --btn-secondary-hover: var(--secondary-dark);
  --btn-secondary-text: var(--text-dark);
  --border-strong: var(--bg-3);
  --border-medium: var(--bg-2);
  --sidebar-button-hover: var(--bg-3);

  --font-size-base: 16px;
  --font-size-small: 0.9em;
  --font-size-medium: 1.1em;
  --line-height: 28px;
  --transition-fast: 200ms;

  --tale-preview-width: 200px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #365256;
    --bg: #1c2425;
    --bg-1: #2d3233;
    --bg-2: #393d3e;
    --bg-3: #46494a;
    --text-light: #eee;
    --text-medium: #aaafb0;
    --text-dark: #07272b;
    --shadow-dark: #0005;
    --highlight: #da2511;

    --header-bg: var(--bg-1);
    --input: var(--bg-2);
    --input-focus: var(--bg-3);
  }
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: var(--bg);
  color: var(--text-light);
  font-family: sans-serif;
  font-size: var(--font-size-base);
  line-height: var(--line-height);
  height: 100%;
}

a {
  color: var(--text-light);
}

#home {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  width: 40rem;
  max-width: 90%;
  margin: 0 auto;
}

#home > .logo {
  display: block;
  height: 12rem;
  max-width: 90%;
  margin: 4rem auto;
}

input {
  display: block;
  margin-bottom: 2rem;
  padding: 0.75rem 1rem;
  border-radius: 0.2rem;
  border: none;
  background-color: var(--input);
  color: var(--text-light);
  transition: background-color var(--transition-fast);
}

input:focus {
  background-color: var(--input-focus);
  box-shadow: 0 2px 4px var(--shadow-medium);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--btn-secondary);
  border-radius: 0.5rem;
  padding: 0.25rem 1rem;
  text-decoration: none;
  color: var(--btn-secondary-text);
  transition: background-color var(--transition-fast);
}
.button:hover {
  background-color: var(--btn-secondary-hover);
}

.button .icon {
  height: 1.25rem;
}
.button .icon.--right {
  margin-left: 0.5rem;
}
.button .icon svg {
  height: 100%;
  stroke: var(--btn-secondary-text);
}

.tale-list {
  padding: 0;
}

.tale-list > li {
  position: relative;
  margin: 0 0 2rem 0;
  overflow: hidden;
  background-color: var(--bg-1);
  border-radius: 0.25rem;
  box-shadow: 0 2px 4px var(--shadow-medium);
}

@media (min-width: 768px) {
  .tale-list {
    --spacing: 4%;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    list-style: none;
    margin-right: -4%;
  }

  .tale-list > li {
    width: calc(100% / 2 - var(--spacing));
    margin: 0 var(--spacing) var(--spacing) 0;
  }
}

.tale-list > li:after {
  content: ' ';
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary);
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--transition-fast);
}

.tale-list > li:hover:after {
  opacity: 0.2;
}

.tale-list > li a {
  display: block;
  text-decoration: none;
}

.tale-list > li .title {
  padding: 0.5rem;
  color: var(--text-medium);
  font-size: var(--font-size-small);
}

.tale-list > li .poster {
  display: flex;
  height: 12rem;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-color: #8883;
}

.tale-list > li .poster > img {
  min-height: 100%;
  flex: 1 1 auto;
}

#app {
  height: 100%;
}

#presenter {
  height: 100%;
}

#editor {
  height: 100%;
  background-color: var(--editor-bg);
}

#editor .sidebar {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  max-width: 30vw;
  height: 100%;
  z-index: 10;
  background-color: var(--sidebar-bg);
  border-right: solid 2px var(--border-medium);
  box-shadow: 0 1px 12px var(--shadow-strong);
}

#editor .sidebar-header {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 1rem 1rem 0;
}

#editor .sidebar-title {
  justify-self: flex-start;
  max-width: var(--tale-preview-width);
  height: var(--line-height);
  margin: 0 0 1rem;
  overflow: hidden;

  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: var(--font-size-medium);
  font-weight: normal;
}

#editor .sidebar-tell {
  width: 100%;
}

#editor .sidebar-footer {
  display: flex;
  padding: 0.5rem 0;
  border-top: solid 1px var(--border-medium);
  margin: 0 1rem;
}

#editor .sidebar-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.5rem;
  border-radius: 50%;
  text-decoration: none;
  transition: background-color var(--transition-fast);
}

#editor .sidebar-icon:hover {
  background-color: var(--sidebar-button-hover);
}

#editor .sidebar-icon > svg {
  height: 100%;
  stroke: var(--text-light);
  fill: var(--text-light);
}

#editor .previews {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  padding: 0 1rem;
  overflow-y: auto;
  list-style: none;
}

#editor .preview {
  position: relative;
  overflow: hidden;
  flex: 0 0 auto;
  margin: 2px 0 1rem;
  cursor: pointer;
  outline: solid 1px var(--primary);
}

#editor .preview:hover {
  outline: solid 2px var(--highlight);
  transition: outline-color 0.3s;
}

#editor .preview.active {
  outline: solid 3px var(--highlight);
}

#editor .preview.active:after {
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 0.2;
  background-color: var(--highlight);
}

#editor .preview img {
  position: absolute;
}

#editor .preview .index {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--bg-3);
  padding: 0.1rem 0.2rem;
  color: var(--text-light);
  font-size: var(--font-size-small);
  opacity: 0.8;
}

#editor .slide-bounds > .frame {
  stroke: var(--primary);
  fill: var(--primary);
}

#editor .slide-bounds.active > .frame {
  stroke: var(--highlight);
  fill: var(--highlight);
}

.poster-uploader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.viewport {}
.viewport > .scene {}
.viewport > .scene > .world {
  position: relative;
}
.viewport > .scene > .world > * {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* Icon-specific styles and animations */
svg.chevron {
  transition: transform var(--transition-fast);
  transform-origin: center;
}
.icon:hover > svg.chevron,
.button:hover .icon > svg.chevron {
  transform: scaleY(0.8);
}

svg.home .roof {
  transition: transform var(--transition-fast);
}
.icon:hover > svg.home .roof,
.button:hover .icon > svg.home .roof {
  transform: translateY(-1px);
}
