:root {
  --white: hsl(208, 80%, 99%);
  --gray-1: hsl(208, 50%, 97%);
  --gray-2: hsl(208, 20%, 86%);
  --gray-3: hsl(208, 12%, 75%);
  --gray-4: hsl(208, 7%, 63%);
  --gray-5: hsl(208, 5%, 48%);
  --gray-6: hsl(208, 8%, 33%);
  --gray-7: hsl(208, 12%, 20%);
  --gray-8: hsl(208, 18%, 12%);
  --gray-9: hsl(208, 50%, 5%);
  --black: hsl(208, 80%, 2%);

  --primary-1: hsl(208, 80%, 92%);
  --primary-2: hsl(208, 70%, 84%);
  --primary-3: hsl(208, 60%, 71%);
  --primary-4: hsl(208, 52%, 59%);
  --primary-5: hsl(208, 50%, 45%);
  --primary-6: hsl(208, 60%, 34%);
  --primary-7: hsl(208, 70%, 23%);
  --primary-8: hsl(208, 75%, 14%);
  --primary-9: hsl(208, 80%, 7%);

  --secondary-1: hsl(3, 80%, 95%);
  --secondary-2: hsl(3, 70%, 85%);
  --secondary-3: hsl(3, 60%, 75%);
  --secondary-4: hsl(3, 50%, 60%);
  --secondary-5: hsl(3, 39%, 46%);
  --secondary-6: hsl(3, 50%, 35%);
  --secondary-7: hsl(3, 56%, 24%);
  --secondary-8: hsl(3, 70%, 13%);
  --secondary-9: hsl(3, 80%, 7%);

  --text-inverse: var(--gray-1);
  --text: var(--gray-9);
  --shadow-light: #0002;
  --shadow-medium: #0003;
  --shadow-strong: #0005;
  --highlight: var(--secondary-5);
  --input: var(--gray-1);
  --input-focus: var(--white);
  --btn-secondary: var(--primary-6);
  --btn-secondary-text: var(--text-inverse);

  --home-bg: var(--primary-2);
  --tale-list-bg: var(--white);
  --tale-list-bg-hover: var(--primary-4);
  --tale-list-text: var(--text);

  --editor-bg: var(--primary-1);
  --sidebar-bg: var(--gray-7);
  --sidebar-footer: var(--gray-8);
  --sidebar-text: var(--text-inverse);
  --sidebar-button-hover: var(--gray-7);
  --preview-index-bg: var(--gray-8);
  --preview-index-text: var(--text-inverse);
  --preview-outline: var(--gray-4);
  --preview-outline-active: var(--secondary-6);
  --slide-bounds: var(--primary-4);

  --font-size-base: 16px;
  --font-size-small: 0.9em;
  --font-size-medium: 1.1em;
  --line-height: 28px;
  --transition-fast: 200ms;

  --tale-preview-width: 200px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-inverse: var(--gray-9);
    --text: var(--gray-1);
    --shadow-strong: #0007;

    --input: var(--gray-8);
    --input-focus: var(--gray-9);
    --btn-secondary-text: var(--text);

    --home-bg: var(--primary-8);
    --tale-list-bg: var(--gray-7);
    --tale-list-text: var(--text);

    --editor-bg: var(--gray-8);
    --sidebar-bg: var(--gray-9);
    --sidebar-footer: var(--black);
    --sidebar-text: var(--text);
    --preview-index-bg: var(--gray-7);
    --preview-index-text: var(--text);
  }
}

* {
  box-sizing: border-box;
}
*:focus {
  outline: none;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: var(--home-bg);
  color: var(--text);
  font-family: sans-serif;
  font-size: var(--font-size-base);
  line-height: var(--line-height);
}

a {
  color: var(--text);
}

input {
  display: block;
  margin-bottom: 2rem;
  padding: 0.75rem 1rem;
  border-radius: 0.25rem;
  border: none;
  background-color: var(--input);
  color: var(--text);
  box-shadow: inset 0 2px 2px var(--shadow-medium);
  transition: background-color var(--transition-fast);
}

input:focus {
  background-color: var(--input-focus);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--btn-secondary);
  border-radius: 0.5rem;
  padding: 0.25rem 1rem;
  text-decoration: none;
  color: var(--btn-secondary-text);
  box-shadow: 0 1px 3px var(--shadow-light);
  transition: background-color var(--transition-fast);
}
.button:hover {
  opacity: 0.85;
  box-shadow: none;
}

.button .icon {
  height: 1.25rem;
}
.button .icon.--right {
  margin-left: 0.5rem;
}
.button .icon svg {
  height: 100%;
  stroke: var(--btn-secondary-text);
}

#app,
#presenter {
  height: 100%;
}

#home {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  width: 40rem;
  max-width: 90%;
  margin: 0 auto;
}

#home > .logo {
  display: block;
  height: 12rem;
  max-width: 90%;
  margin: 4rem auto;
}

#home .tale-list {
  padding: 0;
}

#home .tale-list > li {
  position: relative;
  margin: 0 0 2rem 0;
  overflow: hidden;
  background-color: var(--tale-list-bg);
  border-radius: 0.25rem;
  box-shadow:
    0 1px 2px var(--shadow-medium),
    0 4px 8px var(--shadow-light);
  transition: box-shadow var(--transition-fast);
}

#home .tale-list > li:hover {
  box-shadow: 0 1px 2px var(--shadow-medium);
  transition: none;
}

@media (min-width: 768px) {
  #home .tale-list {
    --spacing: 4%;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    list-style: none;
    margin-right: -4%;
  }

  #home .tale-list > li {
    width: calc(100% / 2 - var(--spacing));
    margin: 0 var(--spacing) var(--spacing) 0;
  }
}

#home .tale-list > li:after {
  content: ' ';
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--tale-list-bg-hover);
  mix-blend-mode: multiply;
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--transition-fast);
}

#home .tale-list > li:hover:after {
  opacity: 0.1;
}

#home .tale-list > li a {
  display: block;
  text-decoration: none;
}

#home .tale-list > li .title {
  padding: 0.5rem 1rem;
  color: var(--tale-list-text);
  font-size: var(--font-size-small);
}

#home .tale-list > li .poster {
  display: flex;
  height: 12rem;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-color: #8883;
}

#home .tale-list > li .poster > img {
  min-height: 100%;
  flex: 1 1 auto;
}

#editor {
  height: 100%;
  background-color: var(--editor-bg);
}

#editor .sidebar {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  min-width: var(--tale-preview-width);
  height: 100%;
  z-index: 10;
  border-right: solid 2px transparent;
  background-color: var(--sidebar-bg);
  color: var(--sidebar-text);
  box-shadow: 0 2px 10px var(--shadow-strong);
}

#editor .sidebar-header {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 1rem 1rem 0;
}

#editor .sidebar-title {
  justify-self: flex-start;
  max-width: var(--tale-preview-width);
  height: var(--line-height);
  margin: 0 0 1rem;
  overflow: hidden;

  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: var(--font-size-medium);
  font-weight: normal;
}

#editor .sidebar-tell {
  width: 100%;
}

#editor .sidebar-footer {
  display: flex;
  padding: 0.5rem 1rem;
  margin: 0;
  background-color: var(--sidebar-footer);
}

#editor .sidebar-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.5rem;
  border-radius: 50%;
  text-decoration: none;
  transition: background-color var(--transition-fast);
}

#editor .sidebar-icon:hover {
  background-color: var(--sidebar-button-hover);
}

#editor .sidebar-icon > svg {
  height: 100%;
  stroke: var(--sidebar-text);
  fill: var(--sidebar-text);
}

#editor .previews {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 1rem 0 0;
  padding: 0 1rem;
  overflow-y: auto;
  list-style: none;
}

#editor .preview {
  position: relative;
  overflow: hidden;
  flex: 0 0 auto;
  margin: 2px 0 1rem;
  cursor: pointer;
  outline: solid 1px var(--preview-outline);
}

#editor .preview:hover {
  outline-width: 2px;
}

#editor .preview.active {
  outline: solid 3px var(--preview-outline-active);
}

#editor .preview.active:after {
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 0.2;
  background-color: var(--preview-outline-active);
  mix-blend-mode: multiply;
}

#editor .preview img {
  position: absolute;
}

#editor .preview .index {
  position: absolute;
  left: 0;
  top: 0;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-right-radius: 50%;
  background-color: var(--preview-index-bg);
  color: var(--preview-index-text);
  font-size: var(--font-size-small);
}

#editor .slide-bounds > .frame {
  stroke: var(--slide-bounds);
  fill: var(--slide-bounds);
}

#editor .slide-bounds.active > .frame {
  stroke: var(--highlight);
  fill: var(--highlight);
}

#editor .poster-uploader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.viewport {}
.viewport > .scene {}
.viewport > .scene > .world {
  position: relative;
}
.viewport > .scene > .world > * {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* Icon-specific styles and animations */
svg.chevron {
  transition: transform var(--transition-fast);
  transform-origin: center;
}
.icon:hover > svg.chevron,
.button:hover .icon > svg.chevron {
  transform: scaleY(0.8);
}

svg.home .roof {
  transition: transform var(--transition-fast);
}
.icon:hover > svg.home .roof,
.button:hover .icon > svg.home .roof {
  transform: translateY(-1px);
}
