:root {
  --primary: #365256;
  --text-light: #fff;
  --text-dark: #07272b;
  --font-size-small: 0.9em;
  --font-size-medium: 1.1em;
  --transition-fast: 200ms;
}

html {
  height: 100%;
}

body {
  background-color: var(--primary);
  color: var(--text-light);
  font-family: sans-serif;
  height: 100%;
}

a {
  color: var(--text-light);
}

#home {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  width: 40rem;
  max-width: 90%;
  margin: 0 auto;
}

#home > .logo {
  display: block;
  height: 12rem;
  max-width: 90%;
  margin: 4rem auto;
}

input {
  display: block;
  margin-bottom: 2rem;
  padding: 0.5rem 1rem;
  color: var(--text-dark);
  border-radius: 0;
  border: none;
}

input:focus {
  box-shadow: 0 0 16px #fff;
}

.tale-list {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  list-style: none;
  margin-right: -3%;
  padding: 0;
}

.tale-list > li {
  width: calc(100% / 4 - 3%);
  margin: 0 3% 3% 0;
  overflow: hidden;
  background-color: #fff;
  border-radius: 0.25rem;
  box-shadow: 0 2px 3px #0006;
}

.tale-list > li:hover {
  box-shadow: 0 0 1rem #fff8;
}

.tale-list > li a {
  display: block;
  text-decoration: none;
}

.tale-list > li .title {
  padding: 0.5rem;
  color: var(--text-dark);
  font-size: var(--font-size-small);
}

.tale-list > li .poster {
  display: block;
  height: 6rem;
  background-size: cover;
  background-position: center;
  background-color: #8883;
}

#app {
  height: 100%;
}

#editor {
  height: 100%;
}

#editor > header {
  background-color: #000c;
  color: var(--text-light);
  font-size: var(--font-size-medium);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 1rem;
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
}

#editor > header h2 {
  margin: 0;
  font-size: 1rem;
  font-weight: normal;
}

#editor > header .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  text-decoration: none;
  transition: background-color var(--transition-fast);
}

#editor > header .icon:hover {
  background-color: #fff3;
}

#editor > footer {
  background-color: #000c;
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  bottom: 0;
}

#editor .previews {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  overflow-x: auto;
  list-style: none;
}

#editor .preview {
  position: relative;
  overflow: hidden;
  flex: 0 0 auto;
  border: 3px solid transparent;
  cursor: pointer;
}

#editor .preview img {
  position: absolute;
}

#editor .preview .index {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--primary);
  padding: 0.1rem 0.2rem;
  color: var(--text-light);
  font-size: var(--font-size-small);
}

.viewport {}
.viewport > .scene {}
.viewport > .scene > .world {}
.viewport > .scene > .world > * {
  position: absolute;
  width: 100%;
  height: 100%;
}
